@import '~font-awesome/css/font-awesome.min.css';
@media screen and (min-width:992px) {

    ul {
        display: flex;
        height: 5vh;
        margin-top: 2vh;
        position: relative;
        right: 10vw;
    }
    
    li {
        margin-left: 2vw;
        justify-content: space-around;
        width: 10vw;
    }
  
}

@media screen and (min-width:769px) and (max-width:991px) {
    ul {
        display: flex;
        height: 5vh;
        margin-top: 2vh;
        position: relative;
        right: 10vw;
    }
    
    li {
        margin-left: 2vw;
        font-weight: bolder;
        font-size: larger;
        justify-content: space-around;
        line-height: 5vh;
        border-radius: 3vh;
        width: 11vw;
    }

}

@media screen and (min-width:600px) and (max-width:768px) {
  
    ul {
        position: fixed;
        top: 19vh;
        display: block;
        text-align: center;
        left: 100%;
        transition: height 1s ease-in-out;
        margin-left: 70vw;
        width: 25vw;
        background-color: aliceblue;
    }

    li {
        height: 5vh;
        width: 15vw;
        border-radius: 3vh;
        line-height: 5vh;
        font-size: large;
        margin: 2vh 6vw;
        list-style: none;
    }

    #click {
        display: none;
    }

    #click:checked~ul {
        left: 0%;
    }

    #click:checked~.menu-btn i:before {
        content: '\f00d';
        font-family: 'Font Awesome';
    }

    .menu-btn i {
        height: 5vh;
        width: 4vw;
        display: block;
        margin-top: 3vh;
        margin-right: 4vh;
        color: black;
        font-size: 40px;
        cursor: pointer;
    }

}

@media screen and (max-width:599px) {
  
    ul {
        position: fixed;
        top: 19vh;
        display: block;
        text-align: center;
        left: 100%;
        transition: height 1s ease-in-out;
        margin-left: 70vw;
        width: 25vw;
        background-color: aliceblue;
    }

    li {
        height: 5vh;
        width: 15vw;
        border-radius: 3vh;
        line-height: 5vh;
        font-size: large;
        margin: 2vh 6vw;
        list-style: none;
    }

    #click {
        display: none;
    }

    #click:checked~ul {
        left: 0%;
    }

    #click:checked~.menu-btn i:before {
        content: '\f00d';
    }

    .menu-btn i {
        height: 4vh;
        width: 4vw;
        display: block;
        margin-top: 4vh;
        margin-right: 4vh;
        color: rgb(33, 8, 66);
        font-size: x-large;
        cursor: pointer;
    }
}